.dialog-connect-wallet {
  .f-dialog-header {
    display: none !important;
  }
  .f-dialog .f-dialog-content {
    background: #1b1b1b !important;
    // height: 240px;
    width: 440px;
  }
  .f-list-connect-wallet {
    .f-list-item {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 1.5rem;
      font-size: 1.5rem;
      background: #fff;
      color: #000;
      margin-bottom: 1rem;
      font-weight: 700;
      border-radius: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        max-width: 50px;
      }
      &:hover {
        transform: none !important;
        background-color: #dab46e;
        color: #fff;
      }
    }
  }
}
