@import "./variables";
.f-layout {
  &.f-layout-expanded {
    padding-left: 280px;
  }
  .f-sider {
    &.sider-expanded {
      max-width: 280px;
      min-width: 280px;
    }
  }

  .f-main {
    width: 100%;

    .page-title {
      font-size: 1.5rem !important;
      margin-bottom: 2rem;
    }
    .f-header {
      padding: 2rem 2rem 2rem 2rem !important;
      margin-bottom: 2rem;
    }
    .f-container {
      &.fluid {
        padding: 0 2rem;
        padding-right: 17.5rem;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &.f-layout-expanded {
      padding-left: 0;
    }
    .f-main {
      .f-container {
        &.fluid {
          padding-right: 2rem;
        }
      }
    }
  }
}
