@import "./variables";

.f-main {
  width: 100%;

  .page-title {
    font-size: 1.5rem !important;
    margin-bottom: 3rem;
  }
  .f-header {
    padding: 2rem 2rem 2rem 3rem !important;
    margin-bottom: 2rem;
  }
  .f-container {
    &.fluid {
      padding: 0 3rem;
      padding-right: 20rem;
    }
  }
}
