@media screen and (max-width: 991px) {
  .f-main .f-container {
    &.fluid {
      padding: 2rem 1rem;
    }
  }
  .f-layout header .f-header-title {
    position: absolute;
    left: 120px;
    top: 2rem;
  }
  .card-my-balance {
    position: relative;
    top: 3rem;
    left: 0;
    max-width: 90%;
    padding: 1rem 3rem 0 2rem;
    border-radius: 0 0 10px 10px;

    ul {
      display: flex;
      overflow-y: auto;
      li {
        flex: auto;
        border-right: 1px solid #2c333d;
        padding-right: 1rem;
        margin-right: 1rem;
        border-bottom: 0 !important;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
