// COLORS
$btnPrimaryBg: blue;
$btnPrimaryText: blue;
$btnSecondaryBg: blue;
$btnSecondaryText: blue;
$baseColor: #333333;
$themePrimaryColor: #333333;
$themeSecondaryColor: #111111;

$siderWidth: 280px;
$borderRadiusBase: 5px;
$spacer: 1.5rem;
$transition: all 0.15s ease-in-out;
