@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "./mobile";
@import "./variables";
@import "./sider";
@import "./layout";
@import "./cards";
@import "./dialogs";
@import "./dropdowns";
@import "./tables";
@import "./buttons";

body {
  background: $baseColor;
  color: white;
  font-family: Roboto, sans-serif;
}

.custom-scrollbar {
  margin-right: 1rem !important;
}

.visually-hidden {
  display: none;
}

.page-wrapper {
  width: 100%;
  max-width: 1370px;
  margin: 2rem auto;
}

.page-loader {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -25px;
}
