$secondaryColor: #495057;
.f-dialog-connect-wallet {
    .f-list-connect-wallet {
        .f-list-item {
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-height: 70px;
            padding: 0.75rem;
            border: 1px solid white;
            margin-bottom: 1rem;
            img {
                max-width: 40px;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.text-decoration-none {
    text-decoration: none;
}

.primary-color {
    color: #cba461;
}

.grey-primary {
    color: #495057;
}

.grey-secondary {
    color: #919eab;
}

h1 {
    color: #cba461;
}

.f-table table thead tr td {
    color: #cba461;
}

.ftable,
thead {
    background: #161c24 !important;
}

.f-input-group,
.f-input-wrap,
.f-input-control {
    border-radius: 8px !important;
    background: transparent !important;
    color: white !important;
    border-color: #495057 !important;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 100px #181c25 inset !important;
    -webkit-text-fill-color: #fff;
}

.custom-input .f-input-group .f-input-wrap:focus-within {
    border-radius: 8px !important;
}

.f-btn-primary {
    border-radius: 8px !important;
    font-weight: 700 !important;
}

.sub-menu-bullet {
    width: 4px;
    height: 4px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 180, 110);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform: scale(2);
}