$secondaryColor: #495057;
body {
  line-height: 1.3 !important;
  font-family: "ModAberMano" !important;
}

body > div {
  height: auto;
}

.f-dialog-connect-wallet {
  .f-list-connect-wallet {
    .f-list-item {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 70px;
      padding: 0.75rem;
      border: 1px solid white;
      margin-bottom: 1rem;
      img {
        max-width: 40px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.text-decoration-none {
  text-decoration: none;
}

.primary-color {
  color: #cba461;
}

.primary-color-background {
  color: #1c2229;
}

.position-relative {
  position: relative;
}

.overflow-visible {
  overflow: visible;
}

.mint-info-tag {
  position: absolute;
  right: 1px;
  top: -10px;
  padding: 5px;
  border-radius: 10px 10px 0 10px;
  background-color: white;
  color: #cba461;
}

.grey-primary {
  color: #495057;
}

.text-center {
  text-align: center;
}

.align-item-center {
  align-items: center;
}

.text-end {
  text-align: end;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end !important;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.custom-label {
  background: red;
  padding: 2px 3px;
  border-radius: 2.5px;
  color: black;
  font-size: 18px;
}

.custom-icon {
  display: flex;
  align-items: center;
  margin-left: 2px;
  cursor: pointer;
  background-color: #dab46e;
  padding: 3px 8px;
  border-radius: 2.5px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.grey-secondary {
  color: #919eab;
}

h1 {
  color: #cba461;
}

.f-table table thead tr td {
  color: #cba461;
}

.ftable,
thead {
  background: #161c24 !important;
}

.f-input-group,
.f-input-wrap,
.f-input-control {
  border-radius: 8px !important;
  background: transparent !important;
  color: white !important;
  border-color: #495057 !important;
}

.f-select__single-value {
  color: white !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 100px #181c25 inset !important;
  -webkit-text-fill-color: #fff;
}

.custom-input .f-input-group .f-input-wrap:focus-within {
  border-radius: 8px !important;
}

.f-btn-primary {
  border-radius: 8px !important;
  font-weight: 700 !important;
}

.f-input-checkbox input[type="checkbox"]:not(:checked) + label::before {
  background: transparent !important;
}

.f-input-select {
  .f-select {
    .f-select__menu {
      background: #161c24 !important;
      .f-select__menu-list {
        .f-select__option {
          background: #212b36 !important;
        }
      }
    }
  }
}

.f-select__control {
  input {
    color: white !important;
  }
}

aside.open .f-sider-item.has-child.f-sider-item {
  border: none !important;
}

aside.sider-expanded .f-sider-item.has-child.f-sider-item {
  border: none !important;
}

aside.sider-expanded .f-sider-item {
  border: none !important;
}

aside.collapsed .has-child.f-sider-item.submenu-open .f-sider-submenu-item {
  background: #212b36 !important;
}

.f-dialog .f-dialog-content {
  background: #212b36 !important;
}

// #212b36 // sec
// #161c24 // pri
.f-table {
  .controlRow__root {
    .ButtonGroup__root {
      button:disabled {
        // background: #161c24 !important;
        color: white !important;
      }
      button:not([disabled]):nth-last-child(-n + 7) {
        // background: #212b36 !important;
        color: white !important;
      }
      .btn:hover,
      .btn:active {
        background-color: #cba461 !important;
      }
    }
  }
}

.f-link {
  color: #cba461;
  text-decoration: none;
}

.f-dialog.bg-white .f-dialog-content {
  background: white !important;
}

@for $i from 0 through 50 {
  .custom-font-size-#{$i} {
    font-size: #{$i}px !important;
  }
}

@for $i from 0 through 1000 {
  .custom-font-weight-#{$i} {
    font-weight: #{$i} !important;
  }
}

@for $i from 0 through 1000 {
  .custom-padding-#{$i} {
    padding: #{$i}px !important;
  }
}

@for $i from 0 through 50 {
  .custom-border-radius-#{$i} {
    border-radius: #{$i}px !important;
  }
}

@for $i from 0 through 1000 {
  .custom-width-#{$i} {
    width: #{$i}px !important;
  }
}

@for $i from 0 through 1000 {
  .custom-height-#{$i} {
    height: #{$i}px !important;
  }
}

@for $i from 0 through 1000 {
  .custom-min-width-#{$i} {
    min-width: #{$i}px !important;
  }
}

.no-right-margin {
  margin-right: 0 !important;
}

.no-left-margin {
  margin-left: 0 !important;
}

.d-flex {
  display: flex !important;
}

.connect-button-left-borders {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.open-cap-label {
  display: flex;
  justify-content: end;
  max-width: 350px;
  border-radius: 10px 10px 0px 0px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px 10px 0px 0px !important;
}

.green-cap {
  background: #28b885 !important;
}

.word-break {
  word-break: break-word;
}

.red-cap {
  background: #d51a52 !important;
}

.side-menu-img {
  height: 4px !important;
  width: 4px !important;
}

.apr-small-card {
  width: 110px;
  background-color: rgba(28, 34, 41, 0.5);
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
}

.apr-small-card img {
  height: 9px;
  width: 8px;
  cursor: pointer;
}

.subtitle-text {
  font-size: 10px !important;
  font-weight: 400;
}

.medium-text-700 {
  font-size: 14px !important;
  font-weight: 700;
}

.medium-text-400 {
  font-size: 14px !important;
  font-weight: 400;
}

.text-35 {
  font-size: 35px !important;
  font-weight: 700;
}

.default-text-color {
  color: #dab46e;
}

.flex-center-aligned-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: max-content;
  background-color: #cba461;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: -37px;
  // left: 24px;
  // top: -60px;
  // left: -35px;
  z-index: 100;
  word-break: break-word;
  font-weight: 400;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #cba461;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.line-up-anim {
  animation: 0.2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.line-down-anim {
  animation: 0.6s anim-lineDown ease-out;
}

@keyframes anim-lineDown {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  20% {
    opacity: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.zoom-in .zoom-out {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.zoom-out-in {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.zoom-in-out {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.allowed-network-icon {
  transform: translateY(18%);
  margin-right: 12px;
}

.minted-removed-label {
  background: #242b35 !important;
  padding: 0.5rem 1rem;
  max-width: 320px !important;
}

//vesting style sheet
.w-100 {
  width: 100% !important;
}
.font-400 {
  font-weight: 400;
}
.font-700 {
  font-weight: 700;
}
.bg_black_new {
  background-color: #1b1b1b !important;
}
.header_layout {
  height: 100px;
  padding-left: 45px;
  padding-right: 40px;
}
.justify_center {
  justify-content: center;
}
.justify_end {
  justify-content: flex-end;
}
.justify_start {
  justify-content: flex-start;
}
.justify_between {
  justify-content: space-between;
}
.align_center {
  align-items: center;
}
.d_flex {
  display: flex !important;
}
.wallet_address_card {
  height: 40px;
  width: 300px;
  border-radius: 8px;
  background-color: #000000;
  margin-right: -10px;
  padding-left: 11px;
}
.BNB_card {
  background-color: #33343b;
  border-radius: 5px;
  border: 1px solid #f3ba2f;
  height: 30px;
  width: 90px;
}
.ml-mr-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.container {
  overflow: scroll;
  padding-bottom: 80px !important;
  background-color: #000000;
  height: 100vh !important;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.h-100 {
  height: 100vh !important;
}
.clr_black_new {
  color: #1b1b1b !important;
}
.bg_black_new {
  background-color: #1b1b1b !important;
}
.primaryColor {
  color: #dab46e;
}
.cursor_pointer {
  cursor: pointer;
}
.centered_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.padding_0 {
  padding: 0 !important;
}
.pl_0 {
  padding-left: 0px !important;
}
.ml_0 {
  margin-left: 0px !important;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.text_center {
  text-align: center;
}
.clr_black {
  color: #000000 !important;
}
.clr_white {
  color: #fff !important;
}
.bg_black {
  background-color: #000000 !important;
}
.bg_white {
  background-color: #ffffff !important;
}
.round {
  border-radius: 50%;
}
.white-small-box {
  background: white;
  border-radius: 20px;
  margin: 3px;
  color: black;
  width: 70px;
  height: 28px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.implementation_box {
  height: 77px;
  width: 232px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 10px !important;
}
.txt_decoration_none {
  text-decoration: none !important;
}
.img_29 {
  width: 29px;
  height: 29px;
}
.csvBtn {
  height: 28px;
  width: 142px;
  background-image: linear-gradient(to bottom, rgba(113, 117, 114, 0), #414743);
  border: none;
  border-radius: 5px;
}
.header_layout {
  height: 100px;
  padding-left: 45px;
  padding-right: 40px;
}
.connectBtn {
  width: 160px;
  height: 40px;
  border: none;
}
.user_dashboard_cards {
  height: 140px;
  width: 320px;
  background-color: #1b1b1b !important;
  border-radius: 8px !important;
  box-shadow: 0px 0.2px 0.2px 0.2px #4a4a4a;
}
.vesting_option_cards {
  padding: 20px;
  min-height: 440px;
  background-color: #1b1b1b !important;
  border-radius: 8px !important;
}
.loader {
  border: 10px solid #b4b3b3;
  border-top: 10px solid #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.font-face-mod {
  font-family: "ModAberMano";
}
.bg-transparent {
  background-color: transparent !important;
}
