.f-dialog-connect-wallet {
    .f-list-connect-wallet {
        .f-list-item {
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-height: 70px;
            padding: 0.75rem;
            border: 1px solid white;
            margin-bottom: 1rem;
            img {
                max-width: 40px;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.text-decoration-none {
    text-decoration: none;
}

h1 {
    color: #cba461;
}

.f-input-group,
.f-input-wrap,
.f-input-control {
    border-radius: 8px !important;
    background: transparent !important;
    color: white !important;
    border-color: #495057 !important;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 100px #181C25 inset !important;
    -webkit-text-fill-color: #fff;
}

.custom-input .f-input-group .f-input-wrap:focus-within {
    border-radius: 8px !important;
}